.container {
  min-height: 100svh;
  display: grid;
  grid-template-areas:
    'sidenav header'
    'sidenav main'
    'sidenav footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
}

.main {
  position: relative;
  isolation: isolate;
  background: rgb(217 217 217 / 61%);
  background-color: #e5e5e5;
  background-color: #dae7f3;
  backdrop-filter: blur(5px);
}

.main::after {
  content: '';
  position: absolute;
  z-index: -2;
  inset: 0;
  opacity: 0.7;
  background-image: url(/public/background8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background {
  background: rgb(217 217 217 / 61%);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

.mainWrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.mainWrapper h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 5px;
}

.mainWrapper hr {
  border: 0.5px solid var(--primary-color);
}

.subjectsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}

.subjectBox {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.subjectBox span {
  font-weight: 500;
  font-size: 26px;
  color: var(--primary-color);
}

.subjectBox > div {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 3px 8px -1px #0000007a;
  position: relative;
  background-color: rgba(51, 50, 50, 0.267);
}

.subjectBox > div:hover {
  isolation: isolate;
}

.subjectBox > div::after {
  content: '';
  position: absolute;
  z-index: -2;
  inset: 0;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.subjectBox > div button {
  transform: translateY(20px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  font-size: 22px;
  border-radius: 9999px;
  border: 3px solid white;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.subjectBox > div:hover button {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
}

.subjectBox > div button:hover {
  background-color: white;
  color: var(--primary-color);
}

.imgBio::after {
  background-image: url(/public/biologia.jpg);
}

.imgFilo::after {
  background-image: url(/public/filosofia.jpg);
}

.imgFis::after {
  background-image: url(/public/fisica.jpg);
  background-position: center;
}

.imgGeo::after {
  background-image: url(/public/geografia.jpg);
  background-position: right;
}

.imgHist::after {
  background-image: url(/public/historia.jpg);
  background-position: center;
}

.imgIng::after {
  background-image: url(/public/ingles.jpg);
  background-position: right;
}

.imgPort::after {
  background-image: url(/public/portugues.jpg);
  background-position: right;
}

.imgLit::after {
  background-image: url(/public/literatura.jpg);
  background-position: center;
}

.imgMat::after {
  background-image: url(/public/matematica.jpg);
  background-position: center;
}

.imgQui::after {
  background-image: url(/public/quimica.jpg);
}

.imgRed::after {
  background-image: url(/public/redacao.jpg);
}

.imgSocio::after {
  background-image: url(/public/sociologia.jpg);
}

@media (max-width: 480px) {
  .mainWrapper h1 {
    text-align: center;
    font-size: 32px;
  }
}

.msg {
  position: fixed;
  inset: 0;
  z-index: 999;
  min-height: 100vh;
  padding: 4.8rem 1.2rem;
  background: rgba(18, 18, 18, 0.25);
  backdrop-filter: blur(12px);
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.msgBox {
  height: fit-content;
  overflow: hidden;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  cursor: auto;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
}

.msgBox h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.msgBox p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.msgBox ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.msgBox li {
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 5px;
}

.msgBox li:hover {
  background-color: #eaeaea;
}

.msgBox button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  margin: 20px auto 0;
  width: 100%;
  justify-content: center;
}

.msgBox button:hover {
  background-color: var(--secondary-color);
}
